### Importação dos dados

In [19]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()                 # exibe as 5 primeiras linhas da loja 1

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [20]:
loja.shape          # shape mostra qtas linhas e colunas há na loja 1

(2359, 12)

In [21]:
# Juntar todas as lojas em um único DataFrame
todasLojas = pd.concat([loja, loja2, loja3, loja4], ignore_index=True)     #index=True reenumera índice de 0 até o final

# Exibir as 11 primeiras linhas
todasLojas.head(11)

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38
5,Blocos de montar,brinquedos,32.26,0.000000,03/12/2020,Beatriz Moraes,RS,5,cupom,1,-30.17,-53.50
6,Boneca bebê,brinquedos,58.90,0.000000,07/08/2021,João Souza,SP,3,boleto,1,-22.19,-48.79
7,Lava louças,eletrodomesticos,1586.23,84.993080,18/06/2021,Felipe Santos,CE,5,cartao_credito,10,-5.20,-39.53
8,Lavadora de roupas,eletrodomesticos,2024.31,105.372857,08/01/2022,Thiago Silva,SP,1,cartao_credito,5,-22.19,-48.79
9,Carrinho controle remoto,brinquedos,100.26,6.737659,24/02/2020,Beatriz Moraes,SP,5,boleto,1,-22.19,-48.79
10,Geladeira,eletrodomesticos,3241.75,170.197874,03/04/2020,Bianca Santos,SP,5,cartao_credito,2,-22.19,-48.79

In [22]:
todasLojas.shape                # mostrar qtas linhas e colunas há nas quatro lojas

(9435, 12)

# 1. Análise do Faturamento

In [ ]:

'''
# Faturamento total de cada loja
faturamentoLoja1 = loja['Preço'].sum()          # sum = soma todos os valores da coluna 'preco' da loja
faturamentoLoja2 = loja2['Preço'].sum()
faturamentoLoja3 = loja3['Preço'].sum()
faturamentoLoja4 = loja4['Preço'].sum()

# Faturamento total das quatro lojas
faturamentoTotal = faturamentoLoja1 + faturamentoLoja2 + faturamentoLoja3 + faturamentoLoja4

# Exibir os resultados
print(f'Faturamento Loja 1: R$ {faturamentoLoja1:.2f}')
print(f'Faturamento Loja 2: R$ {faturamentoLoja2:.2f}')
print(f'Faturamento Loja 3: R$ {faturamentoLoja3:.2f}')
print(f'Faturamento Loja 4: R$ {faturamentoLoja4:.2f}')
print()
print(f'Faturamento Total da Lojas: R$ {faturamentoTotal:.2f}')
'''


# outra forma: lista
faturamentoLojas = [loja['Preço'].sum(), loja2['Preço'].sum(), loja3['Preço'].sum(), loja4['Preço'].sum()]
faturamentoTotal = sum(faturamentoLojas)

for i, valor in enumerate(faturamentoLojas, start=1):       # enumerate = p/ numerar as lojas dinamicamente
    print(f'Faturamento Loja {i}: R$ {valor:.2f}')

print()
print(f'Faturamento Total das Lojas: R$ {faturamentoTotal:.2f}')

'''
Faturamento Loja 1: R$ 1534509.12
Faturamento Loja 2: R$ 1488459.06
Faturamento Loja 3: R$ 1464025.03
Faturamento Loja 4: R$ 1384497.58

Faturamento Total da Lojas: R$ 5871490.79
'''

Faturamento Loja 1: R$ 1534509.12
Faturamento Loja 2: R$ 1488459.06
Faturamento Loja 3: R$ 1464025.03
Faturamento Loja 4: R$ 1384497.58

Faturamento Total das Lojas: R$ 5871490.79

'\nFaturamento Loja 1: R$ 1534509.12\nFaturamento Loja 2: R$ 1488459.06\nFaturamento Loja 3: R$ 1464025.03\nFaturamento Loja 4: R$ 1384497.58\n\nFaturamento Total da Lojas: R$ 5871490.79\n'

# 2. Vendas por Categoria

# 3. Média de Avaliação das Lojas

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja

# 6. Gráficos