### Importação dos dados

In [5]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()                 # exibe as 5 primeiras linhas da loja 1

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [6]:
loja.shape          # shape mostra qtas linhas e colunas há na loja 1

(2359, 12)

In [7]:
# Adicionar coluna 'Loja' para cada DataFrame - p/ conseguir verificar vendas por categoria
loja['Loja'] = 'Loja 1'
loja2['Loja'] = 'Loja 2'
loja3['Loja'] = 'Loja 3'
loja4['Loja'] = 'Loja 4'

# Juntar todas as lojas em um único DataFrame
todasLojas = pd.concat([loja, loja2, loja3, loja4], ignore_index=True)     #index=True reenumera índice de 0 até o final

# Exibir as 11 primeiras linhas
todasLojas.head(11)

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,Loja
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79,Loja 1
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66,Loja 1
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86,Loja 1
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50,Loja 1
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38,Loja 1
5,Blocos de montar,brinquedos,32.26,0.000000,03/12/2020,Beatriz Moraes,RS,5,cupom,1,-30.17,-53.50,Loja 1
6,Boneca bebê,brinquedos,58.90,0.000000,07/08/2021,João Souza,SP,3,boleto,1,-22.19,-48.79,Loja 1
7,Lava louças,eletrodomesticos,1586.23,84.993080,18/06/2021,Felipe Santos,CE,5,cartao_credito,10,-5.20,-39.53,Loja 1
8,Lavadora de roupas,eletrodomesticos,2024.31,105.372857,08/01/2022,Thiago Silva,SP,1,cartao_credito,5,-22.19,-48.79,Loja 1
9,Carrinho controle remoto,brinquedos,100.26,6.737659,24/02/2020,Beatriz Moraes,SP,5,boleto,1,-22.19,-48.79,Loja 1
10,Geladeira,eletrodomesticos,3241.75,170.197874,03/04/2020,Bianca Santos,SP,5,cartao_credito,2,-22.19,-48.79,Loja 1

In [8]:
todasLojas.shape                # mostrar qtas linhas e colunas há nas quatro lojas

(9435, 13)

# 1. Análise do Faturamento
Calcular o faturamento total de cada loja. Somando os valores da coluna Preço de cada loja para estimar o faturamento.

In [9]:

'''
# Faturamento total de cada loja
faturamentoLoja1 = loja['Preço'].sum()          # sum = soma todos os valores da coluna 'preco' da loja
faturamentoLoja2 = loja2['Preço'].sum()
faturamentoLoja3 = loja3['Preço'].sum()
faturamentoLoja4 = loja4['Preço'].sum()

# Faturamento total das quatro lojas
faturamentoTotal = faturamentoLoja1 + faturamentoLoja2 + faturamentoLoja3 + faturamentoLoja4

# Exibir os resultados
print(f'Faturamento Loja 1: R$ {faturamentoLoja1:.2f}')
print(f'Faturamento Loja 2: R$ {faturamentoLoja2:.2f}')
print(f'Faturamento Loja 3: R$ {faturamentoLoja3:.2f}')
print(f'Faturamento Loja 4: R$ {faturamentoLoja4:.2f}')
print()
print(f'Faturamento Total da Lojas: R$ {faturamentoTotal:.2f}')
'''


# outra forma: lista
faturamentoLojas = [loja['Preço'].sum(), loja2['Preço'].sum(), loja3['Preço'].sum(), loja4['Preço'].sum()]
faturamentoTotal = sum(faturamentoLojas)

for i, valor in enumerate(faturamentoLojas, start=1):       # enumerate = p/ numerar as lojas dinamicamente
    print(f'Faturamento Loja {i}: R$ {valor:.2f}')

print()
print(f'Faturamento Total das Lojas: R$ {faturamentoTotal:.2f}')

'''
Faturamento Loja 1: R$ 1534509.12
Faturamento Loja 2: R$ 1488459.06
Faturamento Loja 3: R$ 1464025.03
Faturamento Loja 4: R$ 1384497.58

Faturamento Total da Lojas: R$ 5871490.79
'''

Faturamento Loja 1: R$ 1534509.12
Faturamento Loja 2: R$ 1488459.06
Faturamento Loja 3: R$ 1464025.03
Faturamento Loja 4: R$ 1384497.58

Faturamento Total das Lojas: R$ 5871490.79

'\nFaturamento Loja 1: R$ 1534509.12\nFaturamento Loja 2: R$ 1488459.06\nFaturamento Loja 3: R$ 1464025.03\nFaturamento Loja 4: R$ 1384497.58\n\nFaturamento Total da Lojas: R$ 5871490.79\n'

# 2. Vendas por Categoria
Calcular a quantidade de produtos vendidos por categoria em cada loja. Agrupar os dados por categoria e contar o número de vendas de cada tipo, mostrando as categorias mais populares de cada loja.

In [10]:
# Agrupar dados por categoria
# Contar qtas vezes cada categoria aparece em cada loja
# Transformar agrupamento em tabela
vendasPorCategoria = todasLojas.groupby(['Loja', 'Categoria do Produto']).size().reset_index(name='Quantidade')

# Nomes únicos, sem repetir
lojas = vendasPorCategoria['Loja'].unique()

# Exibir por loja
print('Vendas por Categoria')
for nomeLoja in lojas:
    print(f'\n --- {nomeLoja} ---')

    # Filtrar apenas linha dessa lija
    dadosLoja = vendasPorCategoria[vendasPorCategoria['Loja'] == nomeLoja]

    # Selecionar apenas as colunas q/ quero exibir
    resultado = dadosLoja[['Categoria do Produto', 'Quantidade']]

    print(resultado)

'''
Vendas por Categoria

 --- Loja 1 ---
    Categoria do Produto  Quantidade
0             brinquedos         324
1       eletrodomesticos         312
2            eletronicos         448
3        esporte e lazer         284
4  instrumentos musicais         182
5                 livros         173
6                 moveis         465
7  utilidades domesticas         171

 --- Loja 2 ---
     Categoria do Produto  Quantidade
8              brinquedos         313
9        eletrodomesticos         305
10            eletronicos         422
11        esporte e lazer         275
12  instrumentos musicais         224
13                 livros         197
14                 moveis         442
15  utilidades domesticas         181

 --- Loja 3 ---
...
28  instrumentos musicais         170
29                 livros         187
30                 moveis         480
31  utilidades domesticas         201
'''

Vendas por Categoria

 --- Loja 1 ---
    Categoria do Produto  Quantidade
0             brinquedos         324
1       eletrodomesticos         312
2            eletronicos         448
3        esporte e lazer         284
4  instrumentos musicais         182
5                 livros         173
6                 moveis         465
7  utilidades domesticas         171

 --- Loja 2 ---
     Categoria do Produto  Quantidade
8              brinquedos         313
9        eletrodomesticos         305
10            eletronicos         422
11        esporte e lazer         275
12  instrumentos musicais         224
13                 livros         197
14                 moveis         442
15  utilidades domesticas         181

 --- Loja 3 ---
     Categoria do Produto  Quantidade
16             brinquedos         315
17       eletrodomesticos         278
18            eletronicos         451
19        esporte e lazer         277
20  instrumentos musicais         177
21                 livros         185
22                 moveis         499
23  utilidades domesticas         177

 --- Loja 4 ---
     Categoria do Produto  Quantidade
24             brinquedos         338
25       eletrodomesticos         254
26            eletronicos         451
27        esporte e lazer         277
28  instrumentos musicais         170
29                 livros         187
30                 moveis         480
31  utilidades domesticas         201

'\nVendas por Categoria\n\n --- Loja 1 ---\n    Categoria do Produto  Quantidade\n0             brinquedos         324\n1       eletrodomesticos         312\n2            eletronicos         448\n3        esporte e lazer         284\n4  instrumentos musicais         182\n5                 livros         173\n6                 moveis         465\n7  utilidades domesticas         171\n\n --- Loja 2 ---\n     Categoria do Produto  Quantidade\n8              brinquedos         313\n9        eletrodomesticos         305\n10            eletronicos         422\n11        esporte e lazer         275\n12  instrumentos musicais         224\n13                 livros         197\n14                 moveis         442\n15  utilidades domesticas         181\n\n --- Loja 3 ---\n...\n28  instrumentos musicais         170\n29                 livros         187\n30                 moveis         480\n31  utilidades domesticas         201\n'

# 3. Média de Avaliação das Lojas
Calcular a média das avaliações dos clientes para cada loja. O objetivo é entender a satisfação dos clientes com os produtos vendidos.

In [11]:

print(type(loja))


mediaAvaliacao_loja1 = loja['Avaliação da compra'].mean()           # mean => calcula média da coluna
mediaAvaliacao_loja2 = loja2['Avaliação da compra'].mean() 
mediaAvaliacao_loja3 = loja3['Avaliação da compra'].mean() 
mediaAvaliacao_loja4 = loja4['Avaliação da compra'].mean() 

print("Média de Avaliação por Loja:")
print(f'Loja 1: {mediaAvaliacao_loja1:.2f}')
print(f'Loja 2: {mediaAvaliacao_loja2:.2f}')
print(f'Loja 3: {mediaAvaliacao_loja3:.2f}')
print(f'Loja 4: {mediaAvaliacao_loja4:.2f}')

<class 'pandas.core.frame.DataFrame'>
Média de Avaliação por Loja:
Loja 1: 3.98
Loja 2: 4.04
Loja 3: 4.05
Loja 4: 4.00

# 4. Produtos Mais e Menos Vendidos

In [14]:
# Juntar dados de todas as lojas
todasAsLojas = pd.concat([loja, loja2, loja3, loja4])       # concatenando p/ 1 só

# Agrupar dados por nome do produto e somar a qtde vendida
vendasPorProduto = todasAsLojas.groupby('Produto')['Quantidade de parcelas'].sum()

# Ordenar da menor p/ a maior qtde vendida
vendasOrdenadas = vendasPorProduto.sort_values()        # sort_values = ordena mais e menos vendido

# Produto menos vendido primeiro da lista
produtoMenosVendido = vendasOrdenadas.index[0]
qtdMenosVendido = vendasOrdenadas.iloc[0]               # iloc[0] = pega o primeiro

# Produto mais vendido último da lista
produtoMaisVendido = vendasOrdenadas.index[-1]
qtdMaisVendido = vendasOrdenadas.iloc[-1]               # iloc[0] = pega o último

print('Produto menos vendido:')
print(f'{produtoMenosVendido} - {qtdMenosVendido} unidades')

print('Produto mais vendido:')
print(f'{produtoMaisVendido} - {qtdMaisVendido} unidades')

Produto menos vendido:
Smartwatch - 432 unidades
Produto mais vendido:
Secadora de roupas - 649 unidades

# 5. Frete Médio por Loja

In [17]:
freteMedioPorLoja = todasAsLojas.groupby('Loja')['Frete'].mean()

print('Frete médio por loja:\n')
for loja, frete in freteMedioPorLoja.items():
    print(f'{loja}: R$ {frete:.2f}')

Frete médio por loja:

Loja 1: R$ 34.69
Loja 2: R$ 33.62
Loja 3: R$ 33.07
Loja 4: R$ 31.28

# 6. Gráficos